
.container {
    width: 100%;
    height: auto;}

:root {
    --lgrey: rgb(206, 206, 206);
    --dgrey: grey;
    --white: white;
    --brown: rgb(145, 123, 96);
    --dbrown: rgb(128, 26, 26);
    --border: 2px solid rgb(184, 102, 2);
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(206, 206, 206);
    margin-top: -5px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-bottom: 0;
}

.navbar ul li {
    display: inline;
    line-height: 60px;
    padding: 0 20px 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}

.navbar ul li a:hover {
    color: white;
}

.header {
    width: 100%;
    height: 300px;
    background-image: url(../img/ginko.jpg);
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 200px;
    height: 200px;
}

.header h2 {
    margin-top: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

hr {
    width: 200px;
    border-color: grey;
}

.body h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--dgrey);
    text-align: center;
}

.body p {
    text-align: center;
}

.isabout,
.iswork,
.isresume {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    height: 40%;
    margin: auto;
    font-family: sans-serif;
}

.isabout p {
    margin-top: 50px;
}

.placeholder img {
    padding: 20px 25px;
    width: 25%;
    height: 25%;
}

.horiseon img {
    margin-top: 20px;
    width: 60%;
    height: 25%;
    margin-left: 19%;
}

.iswork img:hover {
    opacity: 0.3;
}

.contactme {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.form {
    margin-top: 20px;
    width: 50%;
    margin-left: 33%;
}

.form input {
    width: 80%;
    height: 30px;
    margin-top: 10px;
    text-indent: 10px;
    border: var(--border)
}

.form textarea {
    width: 80%;
    height: 75px;
    margin-top: 10px;
    text-indent: 10px;
    border: var(--border)
}

.form button {
    margin-top: 10px;
    background: var(--brown);
    color: var(--white);
    border: none;
    border-radius: 2px;
}

.form button:hover {
    background: #b86602;
    color: var(--dbrown);
    cursor: crosshair;
}

.iscontact {
    width: 100%;
}

.contactme img {
    margin-top: 35px;
    width: 200px;
    height: 200px;
}

.isresume ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-bottom: 0;
}

.isresume ul li {
    display: inline;
    line-height: 60px;
    padding: 0 0 10px;
}

.isresume ul li a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--dgrey);
}

.isresume ul li a:hover {
    color: var(--lgrey);
}

.body .bkg:nth-child(even) {
    background-color: var(--lgrey);
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--dgrey);
    color: var(--white);
    text-align: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--brown);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}
